@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card">
    <div class="card-header">
        <h5>Create Post</h5>
    </div>
    <form>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <textarea class="form-control" type="text" placeholder="What's on your mind?"></textarea>
                </div>
            </div>
            <img />
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-default btns"> Image</button>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-default btns" id="btn_post">Post</button>
                </div>
            </div>
        </div>
    </form>
</div>
