@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <section id="cont">
            <h1 class="aa">Facebook</h1>
            <h6 class="aa">Welcome to our Website</h6>
            <br />
            <a class="btn btn-default btt" asp-area="Identity" asp-page="/Account/Login">Sign-In</a>
            <br /><br />
            <a class="btn btn-default btt" asp-area="Identity" asp-page="/Account/Register">Sign-Up</a>
        </section>
    </div>
