body {
    background-color:#900c3f;
}
#cont {
    margin-top: 20%;
    color: whitesmoke;
}
#signinCard{
    margin-top:6em;
}
.btt {
    width: 100%;
    font-size: x-large;
    background-color: #ffc300;
    color: whitesmoke;
}
.btns{
    background-color: #ffc300;
    color: whitesmoke;
}
.as {
    color: #c70039;
}
.as:hover {
        color: #900c3f;
}
#pp{
    color:whitesmoke;
    margin-top:6em;
    margin-left:40%;
}
.aa{
    width:100%;
    margin-left:40%;
}