
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <img class="img-thumbnail" src="~/images/fBE7wrcL_400x400.jpg" width="50" height="50" />
                <a href="#" class="as">user 1</a>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-default btns" type="button">Accept</button>
                <button class="btn btn-outline-default btns" type="button">Remove</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <img class="img-thumbnail" src="~/images/fBE7wrcL_400x400.jpg" width="50" height="50" />
                <a href="#" class="as">user 2</a>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-default btns" type="button">Accept</button>
                <button class="btn btn-outline-default btns" type="button">Remove</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <img class="img-thumbnail" src="~/images/fBE7wrcL_400x400.jpg" width="50" height="50" />
                <a href="#" class="as">user 3</a>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-outline-default btns" type="button">Accept</button>
                <button class="btn btn-outline-default btns" type="button">Remove</button>
            </div>
        </div>
        <hr />
    </div>

