
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Start_Layout.cshtml";
}

    <div class="container">
        <section id="cont">
            <a class="btn btn-default btt" asp-action="SignIn" asp-controller="Start">Sign-In</a>
            <br /><br />
            <a class="btn btn-default btt" asp-action="SignUp" asp-controller="Start">Sign-Up</a>
        </section>

    </div>

