@model IEnumerable<Comments>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{
<div class="row">
    <div class="col-sm-12">
        @*<img class="img-thumbnail" src="~/images/fBE7wrcL_400x400.jpg" width="50" height="50" />*@
        @{
                var base64 = Convert.ToBase64String(item.User.Image);
                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
            }
            <img src=@imgSrc class="img-thumbnail" width="50" height="50" />
        @*asp-route-id=@ViewData["ID"] asp-route-idd=@item.User.Id*@
        @*asp-action="AnonFriendORNot" asp-controller="HomePage"*@
        <a class="as" asp-action="AnonFriendORNot" asp-controller="UserProfile" asp-route-id=@ViewData["ID"] asp-route-idd=@item.User.Id>@item.User.FName @item.User.LName</a>
    </div>
    <div class="col-sm-12">
        <p>@item.Content </p>
    </div>
</div>
}