@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <div class="container">
        <p id="pp">
            Please check your email to reset your password.
        </p>

    </div>