@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="card" id="signinCard">
        <div class="card-header">
            <h4>Sign Up</h4>
        </div>
        <div class="card-body">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FName" class="control-label"></label>
                    <input asp-for="Input.FName" class="form-control" />
                    <span asp-validation-for="Input.FName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.LName" class="control-label"></label>
                    <input asp-for="Input.LName" class="form-control" />
                    <span asp-validation-for="Input.LName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gender" class="control-label">Gender</label><br />
                    <select asp-for="Input.Gender" class="btn-group custom-select">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        <label class="control-label">BirthDate</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Input.BDay" class="control-label">Day</label>
                            <input asp-for="Input.BDay" class="form-control" type="number" />
                            <span asp-validation-for="Input.BDay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Input.BMonth" class="control-label">Month</label>
                            <input asp-for="Input.BMonth" class="form-control" type="number" />
                            <span asp-validation-for="Input.BMonth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Input.BYear" class="control-label">Year</label>
                            <input asp-for="Input.BYear" class="form-control" type="number" />
                            <span asp-validation-for="Input.BYear" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-default btns">Register</button>
                </div>
            </form>
            <br />
           </div>
        </div>

    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
